#header{
    color: #286d68;
    margin-top: 2%;
    margin-bottom: 2%;
}

#card{
    min-height: 30rem;
    margin-bottom: 0%;
    box-shadow: 0px 0px 3px #a4f9ff;
}
#card-header{
    background-color: #8ad4c8;
}

#input-todo{
    margin-right: 0.5%;
}
#input-todo:focus{
    border: 1px solid #8ad4c8;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
#input-todo:hover{
    height: 2rem;
}
#add-todo-button{
    margin-left: 0.5%;
    width: 10rem;
}
.list-group-item:hover{
    background-color: #ebfffc;
}
.btn-success{
    margin-right: 1em;
}


#select-type{
    width: 25%;
}
#select-type:focus{
    border: 1px solid #8ad4c8;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.not-selected{
    background-color: rgb(255, 215, 215);
}

#empty-card{
    color: #62625E;
    margin: 15%;
}

.finished-tasks{
    padding: 1%;
}




.trash{
    width: 1.5em;
    height: 1.5em;
}
.trash:hover{
    width: 1.8em;
    height: 1.8em;
}


.urgent{
    color: red;
}
.important{
    color: rgb(0, 17, 255);
}
.checkbox{
    margin-right: 1rem;
}

